.parent {
  /* perspective: 1px; */
  /* min-height: 100vh; */
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: var(--dark);
}

.radios{
  position:relative;
  width:50%;
  margin:20px auto;
  display: flex;
  justify-content: space-around;
}
.radioInput{
  position:absolute;
  right:1000%;
  /* border: 3px solid blue; */
}

.label{
  float: left;
  
  width:15%; padding-bottom:15%;
  margin:0 2.5%;
  background:rgba(255,255,255,.2);
  border-radius:50%;
  cursor:pointer;
}
.slider{
  position:absolute;
  display:flex;
  left:15%; top:0;
  width:10%; padding-bottom:10%;
  margin:2.5% 0 0 5%;
  
  background:#fff;
  transition:transform 1s;
  border-radius:50%;
  animation-timing-function: ease-in-out;
  animation-duration:.3s;
  animation-fill-mode: forwards;
  transition: 0.2s left .05s ease-in-out;
  justify-content: center;
  align-items: flex-end;
}

.input1:checked  ~ .slider{ animation-name: input1; left:15%; }
.input2:checked  ~ .slider{ animation-name: input2; left:65%; }


@keyframes input1{ 30%, 70% { transform:scale(0.5); } }
@keyframes input2{ 30%, 70% { transform:scale(0.5); } }




