.contactParent {
  text-align: center;
  height: 100%;
  color: rgb(207, 207, 207);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin: 0;
  height: 100vh;
}

.contactParent hr {
  margin: 0;
  width: 100vw;
  line-height: 0%;
  /* flex-basis: 100%; */
}

.contactParent h3 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.icons {
  font-size: 8vh;
  color: rgb(207, 207, 207);
}

.contact a {
  color: #35c8ec;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.1s ease-in-out 0.1s;
}

.contact a:hover {
  color: #eeeeee;
}

.sectionTitle {
  color: rgb(207, 207, 207);
  text-align: center;
  margin-top: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
  z-index: 1;
}

.container .card {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 10px;
  /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); */
  border-radius: 40px;
  background-color: rgba(158, 157, 157, 0.534);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
  perspective: 500px;
}

.endCard {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
}

.container .card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s;
  transition: transform 0.25;
}

.endContent {
  font-size: 1.8em;
  color: rgb(207, 207, 207);
  z-index: 1;
  opacity: 0.7;
  font-weight: 500;
}

.container .card h2 {
  position: absolute;
  top: 0px;
  right: 30px;
  font-size: 8em;
  color: #161623;
  pointer-events: none;
  opacity: 0.7;
}
.container .card .content h3 {
  font-size: 1.8em;
  color: rgb(207, 207, 207);
  z-index: 1;
  opacity: 0.7;
}

.container .card .content p {
  font-size: 1em;
  color: rgb(207, 207, 207);
  font-weight: 300;
  padding-bottom: 10px;
}

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #161623;
  margin-top: 15px;
  border-radius: 20px;
  text-decoration: none;
  color: rgb(207, 207, 207);
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 0.5;
}
.container .card .content a:hover {
  opacity: 0.8;
  transform: scale(1.1) translateZ(50px);
  transition: 0.5s;
}
.tags {
  display: inline;
  padding: 1px 5px;
  border-radius: 5px;
  color: white;
  font-size: initial;
  font-weight: normal;
}
.iconContainer {
  z-index: 1;
  font-size: 100px;
}
.card:hover .content .iconContainer {
  transform: scale(1.75) translateZ(50px) translateY(-20px);
  transition: 0.5s;
}
