.titleHeader {
  position: fixed;
  z-index: 1;
  left: 0%;
  bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(250, 249, 249);
  padding-top: 20px;
}

.label {
  text-align: center;
  padding: 10px 30px;
  /* width: 150px; */
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  background-color: rgba(240, 248, 255, 0.05);
  border-radius: 8px;
}
.label:hover {
  background-color: rgba(240, 248, 255, 0.085);
}
.centerLabel {
  border-left: 1px white solid;
  border-right: 1px white solid;
  border-radius: 0px;
}
.centerLabel:hover {
  border-radius: 0px;
}
