.home {
  min-width: 100%;
  max-width: 100%;
  background-color: var(--light1);
}

.top {
  display: flex;
  align-items: center;
  flex-flow: column;
  min-height: 85vh;
  flex-basis: auto;
}

.profile {
  flex-grow: 1;
  border-radius: 50%;
  padding: 10%;
}

.top img {
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 50%;
  padding: 10%;
}

.name {
  align-content: center;
  color: var(--dark);
  text-shadow: 0 0 5px var(--shadowStart), 4px 4px 5px var(--textShadingEnd);
}

.top h1 {
  font-size: 70px;
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 83%;
}

.divider {
  display: flex;
  min-height: 20%;
  max-height: 20%;
  background-color: var(--dark);
  color: var(--lightest);
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.light-theme .portfolioContainer {
  background-image: url("https://images.unsplash.com/photo-1624399708998-94647fb54999?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
}
.portfolioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--dark); */
  /* The image used */
  /* https://unsplash.com/photos/fHu41_uamys */

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .backgroundContainer::before {
  content: "";
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#f00, #f0f);
  clip-path: circle(30% at right 70%);
}
.backgroundContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#2196f3, #e91e63);
  clip-path: circle(20% at 10% 10%);
} */
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  z-index: 1;
  border: 2px dash orange;
}

.container .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.endCard {
  position: relative;
  width: 280px;
  height: 280px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container .card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s;
}

.endContent {
  font-size: 1.8em;
  color: var(--text);
  z-index: 1;
  opacity: 0.7;
  font-weight: 500;
}

.container .card .content h2 {
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 8em;
  color: var(--invertedText);
  pointer-events: none;
  opacity: 0.7;
}
.container .card .content h3 {
  font-size: 1.8em;
  color: var(--text);
  z-index: 1;
  opacity: 0.7;
}

.container .card .content p {
  font-size: 1em;
  color: var(--text);
  font-weight: 300;
  padding-bottom: 10px;
}

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: var(--invertedText);
  margin-top: 15px;
  border-radius: 20px;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 0.5;
}
.container .card .content a:hover {
  opacity: 0.8;
}
.tags {
  display: inline;
  padding: 1px 5px;
  border-radius: 5px;
  color: white;
  font-size: initial;
  font-weight: normal;
}
