

.home {
  position: relative;

  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;

  /* background-size: cover;  */
}

.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  min-height: 85vh;
  flex-basis: auto;
  /* background-image: url("https://cdn.pixabay.com/photo/2016/09/29/13/08/planet-1702788_960_720.jpg");
  background-size: cover; */
  background-image: linear-gradient(
    to right top,
    #dccdf8,
    #d8cef9,
    #d3d0fb,
    #cfd1fb,
    #cbd2fc,
    #c0d6ff,
    #b5d9ff,
    #abddff,
    #95e5ff,
    #7dedff,
    #68f5fe,
    #5ffbf1
  );
}


.profileImageContainers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile {
  flex-grow: 1;
  border-radius: 50%;
  padding: 10%;
}

.top img {
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 50%;
  padding: 10%;
}

.name {
  text-align: center;
  align-content: center;
  color: var(--dark);
  text-shadow: 0 0 5px var(--shadowStart), 4px 4px 5px var(--textShadingEnd);
}

.top h1 {
  font-size: 70px;
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 83%;
}
.quoteContainer {
  min-height: 20vh;
  border-radius: var(--popUpBorderRadius);
  box-shadow: 0 0 5px var(--shadowStart), 4px 4px 5px var(--shadowEnd);
  padding: 10px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divider {
  display: flex;
  min-height: 20%;
  max-height: 20%;
  background-color: var(--dark);
  color: var(--lightest);
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.skillsContainer {
  min-height: 80vh;
  height: 80vh;
  width: 100%;
  background-color: transparent;
}
.skills {
  height: 60%;
  width: 60%;
  left: 20%;
  top: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  text-align: center;
  color: var(--text);
  gap: 20px;
}
.skillsLayout {
  display: flex;

  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.experienceImage {
  max-height: 40%;
  max-width: 60%;
  object-fit: contain;
}
.iconContainer {
  position: relative;
  width: 20%;
  height: 100%;
}
.iconContainer h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.imageContainer {
  display: inline;
  max-width: 20%;
  width: 20%;
}
.experienceIcon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60%;
  /* min-width: 10%; */
}
@media only screen and (max-width: 768px) {
  .imageContainer h4 {
    display: none;
  }
  .iconContainer h4 {
    display: none;
  }
}
