.light-theme .portfolioContainer {
  background-image: url("https://images.unsplash.com/photo-1624399708998-94647fb54999?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
}
.dark-theme .portfolioContainer {
  // https://unsplash.com/photos/wQLAGv4_OYs
  background-image: url("https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}

.popUpImage {
  max-width: 250px;
  max-height: 200px;
  height: auto;
  opacity: 0;
  position: absolute;
  top: -150px;
  left: -100px;
  transform: rotate(-30deg);
  border-radius: 20px;
  z-index: -1;
  transition: opacity 0.8s;
}

.cardContent:hover .popUpImage {
  opacity: 1;
}
