.helpContainer {
  width: 30px;
  height: 38px;
  font-size: 30px;
  position: fixed;
  top: 5%;
  right: 5%;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.helpIcon {
  color: rgb(250, 249, 249);
}
.helpContainer:hover .instructions {
  opacity: 1;
}
.instructions {
  font-size: medium;
  background-color: rgba(255, 255, 255, 0.87);
  position: fixed;
  top: 25%;
  right: 25%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  height: 50%;
  width: 50%;
  border-radius: 8px;
  border: 4px solid black;

  /*Children*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media only screen and (max-width: 800px) {
  /* CSS that should be displayed if width is equal to or less than 991px goes here */
  .instructions {
    top: 15%;
    height: 70%;
  }
}
.instructionElementContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 70%;
  /* gap: 20px; */
  padding: 5px 10px;
}
.instructionIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: x-large;
}
.instructionText {
  text-align: left;
}
.loadingBarContainer {
  position: absolute;
  bottom: -10%;
  width: 100%;
  height: 15px;
  box-sizing: border-box;
  border-left: 4px solid#ffffff;
  border-right: 4px solid#ffffff;
  display: flex;
  align-items: center;
}
