* {
  margin: 0;
  padding: 0;
}

html {
  background: #1e1a20;
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}
.matterjs {
  position: fixed;
  top: 0;
  right: 0;
  outline: none;
  z-index: -1;
  visibility: hidden;
}

.titleHeader {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 20px;
}

.label {
  text-align: center;
  padding: 10px 30px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  background-color: rgba(240, 248, 255, 0.05);
  border-radius: 8px;
}
.label:hover {
  background-color: rgba(240, 248, 255, 0.085);
}
.centerLabel {
  border-left: 1px white solid;
  border-right: 1px white solid;
  border-radius: 0px;
}
.centerLabel:hover {
  border-radius: 0px;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
}

.point .hoverlabel {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00000077;
  border: 1px solid #ffffff77;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 40px;
  font-weight: 100;
  font-size: 14px;
  cursor: help;
  transform: scale(0, 0);
  transition: transform 0.3s;
}
.point.visible .hoverlabel {
  transform: scale(1, 1);
}
.point .text {
  position: absolute;
  top: 30px;
  left: -120px;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background: #00000077;
  border: 1px solid #ffffff77;
  color: #ffffff;
  line-height: 1.3em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
.point:hover .text {
  opacity: 1;
}
