.headerBar {
  position: fixed;
  top: 0;
  min-height: 10%;
  max-height: 10%;
  display: flex;
  width: 100%;
  right: 0;
  padding: 0px 20px;
  flex-flow: row nowrap;
  z-index: 10;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  gap: 1px;
}

.headerLinks {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.optionsContainer {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.extraContainer {
  margin: 5px;
  height: fit-content;
  background-color: var(--dark);
  border-radius: 40px;
}

.headerLink {
  color: var(--light);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.1s ease-in-out 0.1s;
}

.headerLink:hover {
  color: var(--lightest);
}
.headerScrollBar {
  display: none;
}



.colorUIChangeIcon {
  color: var(--text);
}

/* .colorUIChangeIcon:hover {
    color: var(--lightest);
} */

.iconContainer {
  position: relative;
  padding: 10px;
  flex-shrink: 0;
}

.iconContainer:hover > .colorUIChangeIcon {
  color: var(--lightest);
}
.popUpCircleContainer{
  display: none;
  position: relative;

}
.outerCircle {
  /* background-color: beige; */
  /* position: relative;
  width: 500px;
  height: 500px; */
  position: absolute;
  background-color: beige;
  border-radius: 50%;
  top: 0; 
  left: -500px;
  width: 500px;
  height: 500px;
  /* transform: rotate(20deg); */
  
}
.innerCircle {
  /* background-color: aqua;
  border-radius: 50%; */
  /* width: 150px;
  height: 150px; */
  position: absolute;
  color: papayawhip;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  border-radius: 50%;
  transition: transform 0.2s ease;
  /* width: " + wh + " px; */
  /* height: " + wh + " px; */
  /* line-height: " + wh + " px; */
}

@media only screen and (max-width: 768px) {
  .headerLinks {
    gap: 0;
    max-width: 100%;
  }
  .headerLink {
    display: none;
  }
  .headerScrollBar {
    display: inline;
    flex-shrink: 1;
    overflow: hidden;
  }
  .angleDoubleUp {
    display: none;
  }
  .popUpCircleContainer{
    display: inline;
  }
}

.pointMarker{
  position: absolute;
  width: 10px;
  height: 10px;
  top: 100px;
  left:100px;
}