.helpContainer {
  width: 30px;
  height: 38px;
  font-size: 30px;
  position: fixed;
  top: 5%;
  right: 5%;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.helpIcon {
  color: rgb(250, 249, 249);
}
.helpContainer:hover .instructions {
  opacity: 1;
}
.instructions {
  font-size: medium;
  background-color: rgba(255, 255, 255, 0.87);
  width: 100%;
  position: fixed;
  top: 30%;
  right: 30%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  height: 30%;
  width: 40%;
  border-radius: 8px;
  border: 4px solid black;

  /*Children*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.instructionElementContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 60%;
  /* gap: 20px; */
  padding: 0px 20px;
}
.instructionIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: x-large;
}
.instructionText {
  text-align: center;
}
