.divisionsContainer {
  background-color: var(--dark);
  scroll-behavior: smooth;
  /* display: flex; */
  display: inline;
}
.bubbleContainer{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
.labelTexts {

}

.paddleSvg {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

.svgBtn {
  background: var(--dark);
  position: absolute;
  top: 0;
  padding: 0;
  border-width: 0;
}
.svgDiv {
  width: 100%;
  height: 100%;
  margin: 0 0;
}

.content {
  position: absolute;
  /* padding: 40px; */
  box-shadow: 0 0 5px var(--shadowStart), 4px 4px 5px var(--shadowEnd);
  border-radius: 4px;
  transition: transform 1s ease-out;
}

.contentContainer{
  margin: 10px 100px;
}

.inactiveLink {
  /* position: relative;
  margin: 40px 40px;
  border-radius: 10%; */
  /* top:100px */
  
}
.father {
  /* background-color: var(--light); */
  position: relative;
  width: 80%;
  overflow: visible;
  transform: perspective(100px);
  transform-style: preserve-3d;
  /* border: 5px double blue; */
  left: 20%;

}
.LeadBlock {
  /* display: inline-block; */
  /* position: inline; */
  box-shadow: 0 0 5px  var(--shadowStart), 4px 4px 5px var(--shadowEnd);
  border-radius: 50%;

}


.downCheverons{
  display: block;
  color: var(--dark);
  margin: 0 auto;
  font-size: 10px;
  animation: move 1s linear infinite alternate;
}

.mother {
  transition: transform 5s linear;
}



@keyframes move {
  from {
   margin-top: 100px;
  }
  to {
    margin-top: 150px;
  }
}
.subheading{
  margin: 40px 0px;
}
