.headerBar {
    min-height: 10%;
    max-height: 10%;
    display: flex;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;     */
    background-color: var(--darkest);
    padding: 0px 20px;
    box-shadow: 10px 20px 200px #ccc;
    flex-flow: row nowrap;
    flex-shrink: 0;
    z-index: 10;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 3px solid var(--dark);
}

.headerLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: 100%;
    max-width: 60%;
}

.headerLink {
    color: var(--light);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.1s ease-in-out 0.1s;
}

.headerLink:hover {
    color: snow;
}

.bodyArea {
    /* min-width: 100%; */
    max-width: 100%;
    min-height: 90%;
    max-height: 90%;
    display: flex;
    /* overflow-x: hidden;
    overflow-y: auto; */
    /* padding: 23px; */
    /* box-sizing: content-box; */
    flex-flow: column;
    /* perspective: 1px; */
}

.parent {
    /* perspective: 1px; */
    /* min-height: 100vh; */
    overflow-x: hidden;
    overflow-y: visible;
}

.parallaxParent {
    perspective: 1px;
    /* min-height: 100vh; */
    overflow-x: hidden;
    overflow-y: visible;
}

.parallax {
    background-image: url('https://wallpapercave.com/wp/pEeUsp1.jpg');
    /* background-repeat: repeat; */
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
}

.footer {
    min-width: 100%;
    max-width: 100%;
    min-height: 10%;
    max-height: 10%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px 0px;
    border-top: 3px solid white;
    transform: translateZ(0);
}